<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-warning">
          <p class="title">Executive Member of:</p>
          <p class="subtitle"><a routerLink="/cprofile/{{user?.clubs}}">{{user?.clubs?? ""}}</a></p>

        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">{{ user?.name ?? "user not found" }}</p>
          <p class="subtitle">{{user?.email ?? ""}}</p>
          <!--figure class="image is-4by3"--->
            <!--img src="https://bulma.io/images/placeholders/640x480.png"-->
          <!--/figure--->
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-info">
        <p class="title"><a routerLink="/club">Find more clubs!</a></p>
        <!--p class="title">Find more clubs!</p-->
        <!--- make this a clickable link-->
        <!--p class="subtitle">link to club finder ...</p--->
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent is-tall">
    <article class="tile is-child notification is-warning ">
      <div class="content">
        <p class="title">{{user?.name?? ""}}'s Upcoming Club Events</p>
<!--- these would become clickable links-->
        <div class="content">
          GBM 2: Female Faculty Panel <br>
          Lake Wauberg Social<br>
          Info Session with Intel<br>
        </div>
      </div>
    </article>
  </div>
</div>
