@import 'node_modules/bulma/css/bulma.css';
@import '/node_modules/font-awesome/css/font-awesome.css';

.hero {
  background-image: url('/assets/img/clubppl.jpg') !important;
  background-size: cover;
  background-position: center center;
}
