<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
              <i class="fa fa-solid fa-lock"></i>
              Register an Account
            </h1>

        </div>
    </div>
</section>

<section class="section">
    <div class="field">
        <label class="label">First Name</label>
        <div class="control">
            <input class="input" type="text" name="firstName" [(ngModel)]="firstName" name="firstName" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
            <input class="input" type="text" name="lastName" [(ngModel)]="lastName" name="lastName" required>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required [pattern]="'^[a-zA-Z0-9._%+-]+@ufl.edu$'">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i *ngIf="emailInput.valid" class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success" *ngIf="emailInput.valid">This email is valid/unregistered.</p>
        <p class="help is-danger" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          Please enter a valid/unregistered email ending in "@ufl.edu".
        </p>
      </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
        <input class="input" type="password" [(ngModel)]="password" name="password" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Re-type Password</label>
        <div class="control">
            <input class="input" type="password" [(ngModel)]="rpassword" name="rpassword" required>
        </div>
    </div>

    <div class="field">
        <label class="label">College</label>
        <div class="control">
            <div class="select">
                <select name="college" [(ngModel)]="college" required>
                    <option>Engineering</option>
                    <option>Agricultural and Life Sciences</option>
                    <option>Arts</option>
                    <option>Business</option>
                    <option>Dentistry</option>
                    <option>Design, Construction and Planning</option>
                    <option>Education</option>
                    <option>Health and Human Performance</option>
                    <option>Journalism and Communications</option>
                    <option>Law</option>
                    <option>Liberal Arts and Sciences</option>
                    <option>Medecine</option>
                    <option>Nursing</option>
                    <option>Pharmacy</option>
                    <option>Public Health and Health Professions</option>
                    <option>Veterinary Medecine</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" id="agree-checkbox">
                I agree to the <a href="#">terms and conditions</a>
            </label>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" (click)="onRegister()">Register Now!</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</section>
