<div class="tile is-ancestor ">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box ">
      <p class="title">{{club?.name}}</p>
      <p>{{club?.about}}</p>

    </div>
    <div class="tile is-child box">
      <p>President:</p>
      <a>{{club?.president}}</a>
      <!--- this is an idea im not sure we will have time for-->
      <!---a routerLink="/profile/{{president}}">{{presidentemail}}</a--->
      <p>Vice President:</p>
      <a >{{club?.VP}}</a>
      <p>Treasurer:</p>
      <a>{{club?.treasurer}}</a>

    </div>

  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p>Upcoming Events:</p>

    </div>
  </div>
</div>
