<div class="tile is-ancestor">
    <div class="tile is-parent is-3">
        <article class="tile is-child box">
            <a href="https://example.com/wece">
                <figure class="image is-1by1">
                    <img src="assets/WECE.png">
                </figure>
                <p class="title">Women in Electrical and Computer Engineering (WECE)</p>
                <p class="subtitle">Engineering</p>
            </a>
        </article>
    </div>
    <div class="tile is-parent is-3">
        <article class="tile is-child box">
            <a href="https://example.com/ieee">
                <figure class="image is-1by1">
                    <img src="assets/IEEE.png">
                </figure>
                <p class="title">Institute of Electrical and Electronics Engineers (IEEE)</p>
                <p class="subtitle">Engineering</p>
            </a>
        </article>
    </div>
    <div class="tile is-parent is-3">
        <article class="tile is-child box">
            <a href="https://example.com/ufs">
                <figure class="image is-1by1">
                    <img src="assets/UFSIT.png">
                </figure>
                <p class="title">UF InfoSec Team (UFSIT)</p>
                <p class="subtitle">Engineering</p>
            </a>
        </article>
    </div>
    <div class="tile is-parent is-3">
        <article class="tile is-child box">
            <a href="https://example.com/ufs">
                <figure class="image is-1by1">
                    <img src="assets/WiCSE.png">
                </figure>
                <p class="title">Women in Computer Science and Engineering (WiCSE)</p>
                <p class="subtitle">Engineering</p>
            </a>
        </article>
    </div>