<div class="tile is-ancestor">
    <div class="tile is-parent is-4">
      <a href="https://example.com/wece">
        <article class="tile is-child box">
          <p class="title">Women in Electrical and Computer Engineering (WECE)</p>
          <p class="subtitle">Engineering</p>
        </article>
      </a>
    </div>
    <div class="tile is-parent is-4">
      <a href="https://example.com/ieee">
        <article class="tile is-child box">
          <p class="title">Institute of Electrical and Electronics Engineers (IEEE)</p>
          <p class="subtitle">Engineering</p>
        </article>
      </a>
    </div>
    <div class="tile is-parent is-4">
      <a href="https://example.com/ufs">
        <article class="tile is-child box">
          <p class="title">UF InfoSec Team (UFSIT)</p>
          <p class="subtitle">Engineering</p>
          <figure class="image is-4by3">
            <img src="/images/UFSIT.png">
          </figure>
        </article>
      </a>
    </div>
  </div>
  