
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
              <i class="fa fa-solid fa-lock"></i>
              Login to Your Account
            </h1>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <form>
            <div class="field ">
                <label class="label">Username</label>
                <div class="control ">
                <input class = "input" type="text" [(ngModel)]="username" name="username" required>
                <!----- <input type="text" name="name" class="input">--->
                </div>
            </div>

            <div class="field">
                <label class="label">Password </label>
                <input class = "input" type="password" [(ngModel)]="password" name="password" required>
                <!---<input type="text" name="name" class="input">-->
            </div>

            <button class="button is-success is-medium" (click)="onSubmit()">
              Login
            </button>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage}}</div>

            <button type="submit" class="button is-medium">
              Don't have an account? Sign up now!
          </button>
        </form>
    </div>

</section>
