
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
              <i class="fa fa-solid fa-lock"></i>
              Login to Your Account
            </h1>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <form>
            <div class="field">
                <label class="label">Username</label>
                <input type="text" name="name" class="input">
            </div>

            <div class="field">
                <label class="label">Password</label>
                <input type="text" name="name" class="input">
            </div>



            <button type="submit" class="button is-large is-warning">
                Login
            </button>

            <button type="submit" class="button is-large">
              Don't have an account? Sign up now!
          </button>
        </form>
    </div>

</section>
