<link rel="stylesheet" href="https://kit.fontawesome.com/fe9bf22685.css" crossorigin="anonymous">
<section class="hero is-primary is-large has-background-dark is-family-sans-serif">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container ">
        <div class="navbar-brand ">
          <a class="navbar-item" >
            <span class="icon">
              <i class="fa-solid fa-calendar-days"></i>
            </span>
           ClubHub
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu ">
          <div class="navbar-end">
            <a class="navbar-item">
              Home
            </a>
            <a class="navbar-item" >
              Club Search
            </a>
            <a class="navbar-item">
              Calendar
            </a>
            <a class="navbar-item">
              FAQ
            </a>
            <a [routerLink]="'/profile'">Profile</a>

            <span class="navbar-item">
              <a class="button is-inverted is-primary  has-text-dark">
                <span class="icon">
                  <i class="fa-solid fa-user"></i>
                </span>
                <span>Login</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
