@import 'node_modules/bulma/css/bulma.css';
@import '/node_modules/font-awesome/css/font-awesome.css';

.navbar-brand {
  background: "/assets/img/logo.png";
  background-size: cover;
  width: 400px
}
